<div class = "container d-flex h-100 justify-content-center">
      <div class="row d-flex justify-content-center align-self-center">
        <div class = "col-6 py-3">
          <h1 class = "text-center">To Do List</h1>
          <input class = "add" placeholder = "what to do"/>
          <button class = "btn" onclick="addToDo()">Add</button>
          <hr>
          <table class = "table">
            <thead>
              <th>Task</th>
              <th></th>
              <th></th>
              <th>Status</th>
              <th></th>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
